body {
  width: 1200px;
  margin: 0 auto;
  background-color: #f2f2f2;
	
	background-position: top center;
  background-repeat: no-repeat;
}

.wrapper {
  font-family: "PT Sans", Arial, sans-serif;
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
  text-transform: uppercase;


  width: 1200px;
  background-color: #ffffff;
  min-width: 500px;
  margin: 0 auto;
  padding: 0;
  
 
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2); 
  }



h1, h2 {
	color: #000000;
	font-family: "PT Sans";
	font-size: 23px;
	font-weight: 700;
	line-height: 36px;
}

a {
	text-decoration: none;
	color: #000000;
}

a:link {
  color: #000;
}

a:hover {
  color:#81b3d2
}

a:active {
  color: #b2b2b2;
}


p {
	color: #333333;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
}

ul {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.main-header {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1200px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 17px;
}

.mein-navigation {
  position: relative; 
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}


.cite-navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 15px 0;
  margin: 0;
  list-style: none;
}

.navigation {
  flex: 0 0 20%;
}

.navigation:nth-child(4n + 1),
.navigation:nth-child(4n + 2) {
  text-align: left;
}

.navigation:nth-child(4n + 3),
.navigation:nth-child(4n + 4) {
  text-align: right;
}

.navigation:nth-child(4n + 1) {
  margin-left: 15px;
}

.navigation:nth-child(4n + 2) {
  margin-right: 20px;
}

.navigation:nth-child(4n) {
  margin-right: 15px;
}

.navigation  {
  width: 93px;
  height: 12px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}


.text-list li {
  width: 252px;
}

.text-list2 li {
  width: 150px;
}


.main-navigation {
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
  list-style: none;

	background-color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #81b3d2;
}

.main-navigation a:active,
.main-navigation a:focus {
  color: #b2b2b2; 
	
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

.academy svg:hover,
.academy svg:focus {
  stroke: #81b3d2; fill: #81b3d2; 
}

.academy svg:active,
.academy svg:focus {
  stroke: #b2b2b2; fill: #b2b2b2;
}

.logo {
  width: 244px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.welcome {
  position: relative;
  background: url(../img/photo.jpg) no-repeat;
  padding-top: 77px;
  padding-bottom: 80px;
  text-align: center;
  }

.welcome:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  content: '';
  background: url(../img/intro-mask.svg) no-repeat center;
  margin-bottom: -5px;
}

.flex {
  width: 1200px;
  height: 510px;
}


.hello,
.hello2 {
  width: 1200px;
  height: 150px;
  padding-top: 56px;
  padding-bottom: 56px;
	text-align: center;
}


.taxt-reason1,
.reason2-text  {
  margin: 0;
	width: 400px;
  height: 256px;
	background-color: #81b3d2;

	text-align: center;
	color: #ffffff;
}

.sedona {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.real_city {
  display: block;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;

  margin-top: 45px;
  margin-bottom: 25px;
}

.reason2 {
  margin-bottom: -25px;
}

.enterteimants,
.enterteimants2 {
  width: 1200px;
  display: flex;
  justify-content: center;
}

.enterteimants2 {
  background-color: #eeeeee;
}

.list1,
.list2 {
  width: 1200px;
  height: 250px;
  text-align: center;
  padding-left: 0;
}


.list1 li {
  width: 33%;
}

.list2 li {
  width: 33%;
}



#hotel-search {
	width: 568px;
	height: 86px;
  margin-left: 316px;
  margin-right: 316px;
  background-color: #766357;
  border: none;
  cursor: pointer;

	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}


/*форма главной */

.search-form {
  margin-left: 316px;
  width: 568px;
  height: 395px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  background: #ffffff;

  color: #000000;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.date_input_in {
  padding-top: 50px;
  margin-bottom: 25px;
}

#date_in {
  margin-right: 13px;
}

.date_input_out {
  margin-bottom: 25px;
  text-align: left;
}

#date_in,
#date_out {
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  margin-left: 20px;
  border: none;
  cursor: pointer;

  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

#date_out {
  margin-left: 15px;
}

.adult_child {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -20px;
  margin-right: 53px;
  margin-bottom: 35px;

}

.button_adult {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.button_child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.search-button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  border: none;
  margin-left: 60px;
  cursor: pointer;

  color: #ffffff;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.adult {
  display: block;
  margin-left: 20px;
  padding-left: 60px;
  padding-bottom: 23px;
}

.child {
  display: block;
  text-align: center;
  padding-left: 15px;
  padding-bottom: 23px;
  margin-right: -10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}



/*конец*/


.detail {
	background-color: #81b3d2;
	width: 110px;
	height: 30px;

	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}

.reserv {
	width: 142px;
	height: 30px;
	background-color: #766357;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}

.footer-map {
  width: 1200px;
  height: 594px;
  position: relative;
  background-image: url(../img/map.jpg)
 }

 .footer {
  text-align: center;
  height: 120px;
  position: absolute;
  bottom: 0;
  background-color:#fdfdfd;
  opacity: 0.9;
 }

 .sociale {
  width: 33%;
  margin-top: 20px;
  margin-right: 70px;
  margin-left: 50px;
 }


.visit {
  width: 33%;
  height: 16px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
 }

.academy {
  display: flex;
  text-align: center;
  width: 33%;
  padding: 0;
  margin-top: 25px;
  margin-right: -60px;
 }


.website {
  width: 33%;
  display: block;
  width: 81px;
  height: 20px;
  padding-top: 5px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  overflow: hidden;
 }

.htmlacademy {
  width: 115px;
 }


.footer {
  width: 100%;

}

.footer-sociale{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 27px;
}


.twitter,
.facebook,
.youtube {
  display: block;
}

.social-button {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
 }

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
 }

.footer-sociale li {
  margin-right: 5px;
 }

.footer-sociale svg:hover,
.footer-sociale svg:focus {
  stroke: #ffffff; fill: #ffffff; 
}

.footer-sociale svg:active,
.footer-sociale svg:focus {
  opacity: 0.3; fill: #87b6d1;
}



/* CSS Flexbox */


.cite-navigation{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}


.reason1,
.edge2,
.reason2 {
  display: flex;
  justify-content:space-between;
}

.list1,
.list2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}


.enterteimants {
  display: flex;
}


.hausing,
.food,
.suvenirs {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex; 
  justify-content: center;
  align-items: center;
  
}


.footer-sociale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: white;
}




/* reservation.html */


.background-reserv {
  margin-bottom: 20px;
}


/*форма + фото */
.wtf {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 0;
}


.hello-res {
  width: 1200px;
  height: 310px;
  position: relative;
  background: url(../img/background2.jpg) no-repeat;
  background-position: center;
  border-bottom: 1px solid #e5e5e5;
}


.footer-choice {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.separ {
  padding: 0;
  padding-right: 50px;
}

.separ li {
  display: inline;
  margin-left: 30px;
}


.text {
  width: 180px;
  margin-bottom: 30px;
  padding-left: 18px;
  font-size: 13px;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  white-space: nowrap;
}


.info {
  font-size: 14px;
  color: #ffffff;
  text-align: left;
  font-family: "PT Sans";
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.info:nth-child(1) {
  margin-left: -45px;
}

.info:nth-child(2) {
  margin-left: -200px;
}


.text_day {
  padding-top: 15px;
  color: #fff;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}


.text_price {
  width: 314px;
  height: 32px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

}

.price_from {
  display: block;
  width: 155px;
  color: #fff;
  font-family: "PT Sans";
  font-size: 16px
}


.price_to {
  width: 155px;
  color: #fff;
  font-family: "PT Sans";
  font-size: 16px
}


.search-button2 {
  width: 133px;
  height: 32px;
  border: 2px solid #ffffff;
  background: none;
  margin-top: 25px;
  cursor: pointer;

  

  color: #ffffff;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase; 
}

.show {
  text-align: center;
  margin-top: -15px;
}


.footer-choice {
  position: absolute;
  bottom: 0;
  width: 1200px;
  height: 90px;
  background-color: #fefefe;
}

.separ-button_border {
  text-decoration: dashed;
  border-bottom: 1px dashed #81b3d2;
}

.separ-button_border {
  width: 49px;
  height: 8px;
  color: #b2b2b2;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.separ-button_border a:hover,
.separ-button_border a:focus {
	color: #81b3d2;
}

.separ-button_border a:active,
.separ-button_border a:focus {
  color: #000000; 
}

.result {
  margin-top: 30px;
  margin-left: 50px;
  width: 115px;
  height: 22px;
  margin-right: 50px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}




/*кнопки стили*/

input[type="checkbox"] {
  display:none;
}

label {
  padding-left: 20px;
  padding-bottom: 20px;
}

label::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);  
  background-position: center;
  vertical-align: middle;
  margin-right: 15px;
}

input[type="checkbox"]:checked + label::before {
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
}


.separ a {
  width: 48px;
  height: 10px;
  color: #81b3d2;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

 
.separ a:hover,
.separ a:focus {
	color: #92bdd8;
}

.separ a:active,
.separ a:focus {
  color: #b2b2b2; 
}

ins {
  text-decoration: 1px dotted #81b3d2;
}


input[type=range] {
  -webkit-appearance: none; 
  width: 317px;
  height: 2px;
  background: #908280; 
  outline: none;
}

.triangle {
  position: absolute;
  right: 0;
  margin-right: 50px;
  margin-top: 30px;
  padding: 0;
}

.triangle li {
  display: inline;
}

.triangle_up {
  margin-right: 15px;
  fill: #cacaca;
}

.triangle_down {
  fill: #cacaca;
}

.separarion {
  margin-right: 50px;
}


/*конец*/


.hotel {
  display: flex;
  border-bottom: .1px solid #cacaca;
  padding: 0 6%;
  justify-content: space-between;
}

.hotel-list {
  margin: 0;
}

.hotel li {
  height: 150px;
}

.hotel__left-column {
  display: flex;
}

ul.hotels-list {
  padding-left:  0;
}

.hotel__link {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.info__footer, .info__main {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.footer-conteiner {
  display: flex;
  justify-content: center;
 }

.footer-reserv {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  bottom: 0;
  background-color:#fdfdfd;
 }

.visit-reserv {
  width: 33%;
  margin-left: 60px;
  padding-left: 50px;
  height: 35px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.sociale {
   width: 33%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;

}

.social-button:hover path,
.social-button:focus path {
  background-color: #ffffff;
  
}

.social-button:hover,
.social-button:active {
  background-color: #5496bd;

}

.social-button:hover path,
.social-button:active path {
  background-color: #87b6d1;
  
}


.info__title  {
  white-space: nowrap;
  text-align: start;
  width: 210px;
  height: 16px;
  padding: 0;
  color: #000000;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;    
}

.info__link-btn {
  border: none;
  text-align: center;
  width: 110px;
  height: 27px;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #81b3d2;
  cursor: pointer;
}

.info__btn {
  width: 142px;
  height: 27px;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  cursor: pointer;
}

.right-column__rate {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
}

.hotel__info {
  margin-bottom: 28px;
}

.right-column {
  margin-top: 25px;
}



.info__text {
  margin-bottom: 17px;
}

.right-column__stars.stars {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.stars__icon {
  color: #81b3d2; 
}

.sociale-reserv {
  width: 33%;
  margin-right: 50px;
  padding-right: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}

path {
  fill: #ffffff;
}


  
  