body {
	font-family: "PT Sans", Arial, sans-serif;
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;


	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
}

h1, h2 {
	color: #000000;
	font-family: "PT Sans"; sans-serif;
	font-size: 23px;
	font-weight: 700;
	line-height: 36px;
}

a {
	text-decoration: none;

	color: #000000;
}

p {
	color: #333333;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
}

ul {
  list-style: none;
}

li {
  width: 239px;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

.main-navigation {
  width: 1200px;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	list-style: none;

	background-color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #81b3d2;
}

.main-navigation a:active,
.main-navigation a:focus {
	color: #b2b2b2;
}

.welcome {
  position: relative;
  background: url(../img/photo.jpg) no-repeat;
  padding-top: 77px;
  padding-bottom: 80px;
  text-align: center;
  }

.welcome:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  content: '';
  background: url(../img/intro-mask.svg) no-repeat center;
}

.flex {
  width: 1200px;
  height: 510px;
}


.hello,
.hello2 {
  width: 1200px;
  height: 290px;
  padding-top: 56px;
  padding-bottom: 56px;
	text-align: center;
}

.text,
.text2 {
  padding: 380px 65px 380px 55px;
}

.taxt-reason1,
.edge2-text  {
  margin: 0;
	width: 400px;
  height: 256px;
	background-color: #81b3d2;

	text-align: center;
	color: #ffffff;
}

.enterteimants{
  width: 1200px;
  height: 330px;
}
.reason2 {
  width:1200px;
  height: 330px;
  text-align: center;
  background-color: #eeeeee;
}

.edge3,
.edge4,
.edge5, {
	background-color: #eeeeee;
	width: 400px;
	height: 256px;

	text-align: center;
}

#hotel-search {
	width: 568px;
	height: 86px;
  margin-left: 316px;
  margin-right: 316px;
	background-color: #766357;

	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}

.detail {
	background-color: #81b3d2;
	width: 110px;
	height: 27px;

	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}

.reserv {
	width: 142px;
	height: 27px;
	background-color: #766357;

	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}

.footer {
  display: flex;
  width: 1200px;
  height: 120px;
 }

.sociale,
.academy,
.visit {
  width: 370px;
  margin: 0 auto;
  padding: 50px;
  width: 415px;
  height: 120px;
 }

.sedona {
  width: 136px;
  height: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
 }

.footer-sociale {
  width: 155px;
  margin-left: auto;
  margin-right: auto;
 }

.sociale {
  width: 150px;
  height: 48px;
 }

.social-button {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
 }


.website {
  width: 197px;
  height: 41px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
 }



/* CSS Flexbox */


.cite-navigation{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav {
  display: flex;
  align-items: center;
}

.reason1,
.edge2,
.reason2 {
  display: flex;
  justify-content:space-between;
}

.flex {
  display: flex;
}

.welcome-photo {
  display: flex;
  align-items: center;
  justify-content:center;

}


.mask {
  display:flex;
  flex-direction: row-reverse;
}

.enterteimants {
  display: flex;
}

.icon1,
.icon2,
.icon3 {
  display:flex;
  align-content: center;
  justify-content:center;
}

.hausing,
.food,
.suvenirs {
  display: flex;
  justify-content: center;
}

.footer-sociale {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* reservation.html */

.hotel-list {
 width: 1200px;
 height: 450px;
}

.amara-list,
.desert-list,
.vallas-list {
  width: 1200px;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

