body {
	margin:35px;
	width: 1200px;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);


	font-family: "PT Sans", Arial;
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;

	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
}

h1, h2 {
	color: #000000;
	font-family: "PT Sans";
	font-size: 21px;
	font-weight: 700;
	line-height: 36px;
}

a {
	text-decoration: none;

	color: #000000;
}

p {
	color: #333333;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
}

ul {
  list-style: none;
}

li {
  width: 239px;
}

.main-navigation {
  width: 1200px;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	list-style: none;

	background-color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #81b3d2;
}

.main-navigation a:active,
.main-navigation a:focus {
	color: #b2b2b2;
}

.hello,
.hello2 {
  width: 1200px;
  padding: 50px;
	text-align: center;
}

.taxt-reason1,
.edge2-text  {
  margin: 0;
	width: 400px;
  height: 256px;
	background-color: #81b3d2;

	text-align: center;
	color: #ffffff;
}

.enterteimants{
  width: 400px;
  height: 256px;
  text-align: center;
}
.reason2 {
  width:1200px;
  height: 330px;
  text-align: center;
  background-color: #eeeeee;
}

.edge3,
.edge4,
.edge5, {
	background-color: #eeeeee;
	width: 400px;
	height: 256px;

	text-align: center;
}

#hotel-search {
	width: 568px;
	height: 86px;
	background-color: #766357;

	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}

.detail {
	background-color: #81b3d2;
	width: 110px;
	height: 27px;

	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}

.reserv {
	width: 142px;
	height: 27px;
	background-color: #766357;

	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}

/* CSS Flexbox */


.cite-navigation{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav {
  display: flex;
  align-items: center;
}

.reason1,
.edge2,
.enterteimants,
.reason2{
  display: flex;
  justify-content:space-between;
}
